.videoContainer {
  text-align: center;
  margin: 3rem 0;
}

.responsiveIframe {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.responsiveIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projectTitle{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--ifm-color-primary-darker);
    margin-bottom: 40px;
}